@font-face {
    font-family: Lato;
    src: url('lato-regular-webfont.woff2') format('woff2'), url('lato-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: Lato;
    src: url('lato-italic-webfont.woff2') format('woff2'), url('lato-italic-webfont.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: Lato;
    src: url('lato-thin-webfont.woff2') format('woff2'), url('lato-thin-webfont.woff') format('woff');
    font-weight: 100;
}
@font-face {
    font-family: Lato;
    src: url('lato-thinitalic-webfont.woff2') format('woff2'), url('lato-thinitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: Lato;
    src: url('lato-light-webfont.woff2') format('woff2'), url('lato-light-webfont.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: Lato;
    src: url('lato-lightitalic-webfont.woff2') format('woff2'), url('lato-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Lato;
    src: url('lato-bold-webfont.woff2') format('woff2'), url('lato-bold-webfont.woff') format('woff');
    font-weight: 700;
}
@font-face {
    font-family: Lato;
    src: url('lato-bolditalic-webfont.woff2') format('woff2'), url('lato-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Lato;
    src: url('lato-black-webfont.woff2') format('woff2'), url('lato-black-webfont.woff') format('woff');
    font-weight: 900;
}
@font-face {
    font-family: Lato;
    src: url('lato-blackitalic-webfont.woff2') format('woff2'), url('lato-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #aaa;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    padding-top: 5em;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 1.9rem;
    line-height: 1.2em;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    border-bottom: .1rem solid #d8d8d8;
    border-top: .1rem solid #d8d8d8;
    font-size: 1rem;
    line-height: 1.7em;
    padding: .95rem 0;
}

hr {
    background-color: #d8d8d8;
    border: none;
    height: .1rem;
    margin: 0;
    width: 100%;
}

a[href] {
    color: #1e8ad6;
}

a[href]:hover {
    color: #3ba0e6;
}

img {
    max-width: 100%;
}

li {
    line-height: 1.5em;
}

.sidebar {
    background-color: steelblue;
    color: aliceblue;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: fixed;
    width: 13em;
}
.sidebar.hidden {
    display: none;
}
.sidebar .sidebar-header {
    background: lightskyblue;
    color: #000;
    height: 3.8rem;
    padding: .5rem;
    text-align: right;
}
.sidebar .sidebar-header .shield-button {
    display: inline-block;
    font-size: 0.15rem;
}
.sidebar .sidebar-label {
    color: skyblue;
    margin: 1em 0 .25em 0;
    text-transform: uppercase;
}
.sidebar h1 {
    color: aliceblue;
    font-size: 1em;
    margin: 0;
}
#buttonSidebarOpen {
    font-size: 0.15rem;
    position: absolute;
    right: -9em;
    top: -8em;
}

.content {
    margin: 0 0 0 13em;
    padding: 0 1em;
    transition: margin-left 250ms;
}
.content.maximized {
    margin-left: 0;
}

#sidebar-shield {
    display: inline-block;
}
#sidebar-shield.hidden {
    display: none;
}

.odm-color-policy {
    color: #00aef2;
}
.odm-bg-policy {
    background: #00aef2;
}
.odm-color-portal {
    color: #001d85;
}
.odm-bg-portal {
    background: #001d85;
}
.odm-color-impact {
    color: #dc5149;
}
.odm-bg-impact {
    background: #dc5149;
}
.odm-color-quality {
    color: #ff9933;
}
.odm-bg-quality {
    background: #ff9933;
}

.answerbox {
    background: #888;
    cursor: pointer;
    display: inline-block;
    height: .9em;
    margin: 0 .1em .1em 0;
    width: .1em;
}
.answerbox.bg-red {
    background-color: #dc5149;
}
.answerbox.bg-green {
    background-color: #49DC51;
}
.answerbox.bg-yellow {
    background-color: #dc9b49;
}

.shield {
    font-size: 1rem;
    height: 17em;
    margin: 0 1.2em 2.25em 1.2em;
    position: relative;
    vertical-align: middle;
    width: 17em;
}
.shield-border, .shield-background {  
    background: goldenrod;
    border-radius: 2em 2em 104% 104%;
    height: 18.75em;
    position: absolute;  
    width: 17em;
}
.shield-border:before, .shield-background:before {
    border: solid 8em transparent;
    border-left-width: 2.9em;
    border-right-width: 2.9em;
    border-top-color: goldenrod;
    border-top-width: 1em;
    bottom: -8.28em;
    content: "";
    display: block;
    height: 0;
    left: 5.65em;
    position: absolute;
    width: 0;
}
.shield-background {
    background: #000;
    -webkit-transform:scale(.94);
    -moz-transform:scale(.94);
    -ms-transform:scale(.94);
    -o-transform:scale(.94);
    transform:scale(.94);
}
.shield-background:before {
    border-top-color: #000;
}
.shield-ribbon {
    background: goldenrod;
    border-radius: 0 0 .5em .5em;
    bottom: 3.5em;
    color: #000;
    font-weight: 700;
    height: 3em;
    left: -1.2em;
    line-height: 3em;
    position: absolute;
    text-align: center;
    width: 19.4em;
}
.shield-ribbon:before, .shield-ribbon:after {
    border: solid 1.2em transparent;
    border-bottom-color: gold;
    border-bottom-width: .75em;
    content: "";
    height: 0;
    position: absolute;
    top: -1.88em;
    width: 0;
}
.shield-ribbon:before {
    border-right-width: .1em;
    left: 0;
}
.shield-ribbon:after {
    border-left-width: .1em;
    right: 0;
}
.shield-caption {
    font-size: 2em;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}
.shield-board {
    border-radius: .9em .9em 0 0;
    bottom: 8.2em;
    color: #fff;
    left: 0;
    line-height: 1.2em;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
.shield-board .answer {
    font-weight: 900;
    margin:1em
}
.shield-board .justification {
    border-top: .2em solid #aaa;
    color: #aaa;
    margin: 1em;
    padding-top: 1em;
    text-align: left;
}
.shield-score {
    bottom: .7em;
    color: goldenrod;
    font-size: 2em;
    font-weight: 700;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
.shield-chevron {
    color: goldenrod;
    font-size: 16em;
    font-weight: 500;
    line-height: 1em;
    text-align: center;
}
.shield-button {
    font-size: .2rem;
}
.shield-button.disabled {
    pointer-events: none;
}
.shield-button.disabled .shield-background {
    background: #222 !important;
}
.shield-button.disabled .shield-border {
    background: #aaa;
}
.shield-button.disabled .shield-border::before {
    border-top-color: #aaa;
}
.shield-button.disabled .shield-background::before {
    border-top-color: #222 !important;
}
.shield-button:hover .shield-background {
    background: goldenrod;
    cursor: pointer;
}
.shield-button.disabled:hover .shield-background {
    background: #222;
    cursor: auto;
}
.shield-button:hover .shield-background:before {
    border-top-color: goldenrod;
}
.shield-button.disabled:hover .shield-background:before {
    border-top-color: #222;
}
.shield-button.disabled .shield-chevron {
    color: #aaa;
}
.shield-button:hover .shield-chevron {
    color: #000;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.shield-button.disabled:hover .shield-chevron {
    color: #aaa;
}

#countries {
    background: #222222e0;
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1em;
    position: fixed;
    right: 0;
    top: 0;
    white-space: nowrap;
    z-index: 1;
}
#countries .shield-button {
    margin-left: 0;
    top: 0;
    transition: top 250ms;
}
#countries .shield-button:hover {
    top: 2em;
}
#countries .shield-button.selected {
    top: 2em;
}
#countries .shield-button .shield-background {
    background: wheat;
}
#countries .shield-button .shield-background:before {
    border-top-color: wheat;
}
#countries .shield-button.selected .shield-background {
    background: goldenrod;
}
#countries .shield-button.selected .shield-background:before {
    border-top-color: goldenrod;
}
#countries .shield-button.progress .shield-chevron {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

#countries::-webkit-scrollbar {
    background: transparent;
    height: 0;
}
.shield-board {
    scrollbar-color: goldenrod wheat;
}
.shield-board::-webkit-scrollbar {
    background: transparent;
}
.shield-board::-webkit-scrollbar-button {
    background: goldenrod;
}
.shield-board::-webkit-scrollbar-thumb {
    background: goldenrod;
    border-left: 2px solid wheat;
    border-right: 2px solid wheat;
}
.shield-board::-webkit-scrollbar-track {
    background: wheat;
    border: 2px solid wheat;
}

.shield.blue-sky .shield-border {
    background: steelblue;
}
.shield.blue-sky .shield-border::before {
    border-top-color: steelblue;
}
.shield.blue-sky .shield-background {
    background: transparent;
}
.shield.blue-sky .shield-background::before {
    border-top-color: transparent;
}
.shield.blue-sky .shield-ribbon {
    background: lightskyblue;
}
.shield.blue-sky .shield-ribbon::before, .shield.blue-sky .shield-ribbon::after {
    border-bottom-color: lightsteelblue;
}
.shield.blue-sky .shield-board {
    color: aliceblue;
    font-size: 1.2em;
    height: fit-content;
    top: 4.35em;
    transform: translate(0, -50%);
}
.shield.blue-sky .shield-score, .shield.blue-sky .shield-chevron {
    color: aliceblue;
}
.shield.blue-sky .shield-chevron {
    color: #222;
}

.shield-button.blue-sky .shield-border {
    background: #222;
}
.shield-button.blue-sky .shield-border::before {
    border-top-color: #222;
}
.shield-button.blue-sky .shield-background {
    background: steelblue;
}
.shield-button.blue-sky .shield-background::before {
    border-top-color: steelblue;
}

.shield-button.lightblue-sky .shield-border {
    background: #222;
}
.shield-button.lightblue-sky .shield-border::before {
    border-top-color: #222;
}
.shield-button.lightblue-sky .shield-background {
    background: lightskyblue;
}
.shield-button.lightblue-sky .shield-background::before {
    border-top-color: lightskyblue;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#shields {
    .shield {
        margin-right: 2em;
    }
}

.score-barchart {
    cursor: pointer;
    height: 7em;
    position: absolute;
    top: 1.25em;
    width: 2em;
}
.score-barchart-label {
    cursor: pointer;
    position: absolute;
    top: 8.75em;
    width: 3em;
}