@font-face {
    font-family: Lato;
    src: url('lato-regular-webfont.woff2') format('woff2'), url('lato-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: Lato;
    src: url('lato-italic-webfont.woff2') format('woff2'), url('lato-italic-webfont.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: Lato;
    src: url('lato-thin-webfont.woff2') format('woff2'), url('lato-thin-webfont.woff') format('woff');
    font-weight: 100;
}
@font-face {
    font-family: Lato;
    src: url('lato-thinitalic-webfont.woff2') format('woff2'), url('lato-thinitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: Lato;
    src: url('lato-light-webfont.woff2') format('woff2'), url('lato-light-webfont.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: Lato;
    src: url('lato-lightitalic-webfont.woff2') format('woff2'), url('lato-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Lato;
    src: url('lato-bold-webfont.woff2') format('woff2'), url('lato-bold-webfont.woff') format('woff');
    font-weight: 700;
}
@font-face {
    font-family: Lato;
    src: url('lato-bolditalic-webfont.woff2') format('woff2'), url('lato-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Lato;
    src: url('lato-black-webfont.woff2') format('woff2'), url('lato-black-webfont.woff') format('woff');
    font-weight: 900;
}
@font-face {
    font-family: Lato;
    src: url('lato-blackitalic-webfont.woff2') format('woff2'), url('lato-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #aaa;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    line-height: 1.75rem;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 1.9rem;
    line-height: 2.2rem;
}

h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

h3 {
    border-bottom: .1rem solid #d8d8d8;
    border-top: .1rem solid #d8d8d8;
    font-size: 1rem;
    line-height: 1.7rem;
    padding: .95rem 0;
}

hr {
    background-color: #d8d8d8;
    border: none;
    height: .1rem;
    margin: 0;
    width: 100%;
}

a[href] {
    color: #1e8ad6;
}

a[href]:hover {
    color: #3ba0e6;
}

img {
    max-width: 100%;
}

li {
    line-height: 1.5em;
}

aside,
[class *= "sidebar"],
[id *= "sidebar"] {
    border: .1rem solid lightgrey;
    margin: 0 auto;
    max-width: 90%;
    padding: .3rem .95rem;
}

.odm-color-policy {
    color: #00aef2;
}
.odm-bg-policy {
    background: #00aef2;
}
.odm-color-portal {
    color: #001d85;
}
.odm-bg-portal {
    background: #001d85;
}
.odm-color-impact {
    color: #dc5149;
}
.odm-bg-impact {
    background: #dc5149;
}
.odm-color-quality {
    color: #ff9933;
}
.odm-bg-quality {
    background: #ff9933;
}

.answerbox {
    background: #888;
    display: inline-block;
    height: 1rem;
    margin: 0 1px .2rem 0;
    width: 1px;
}
.answerbox.bg-red {
    background-color: #dc5149;
}
.answerbox.bg-green {
    background-color: #49DC51;
}
.answerbox.bg-yellow {
    background-color: #dc9b49;
}

.shield {
    font-size: .6rem;
    height: 17em;
    margin: 0 auto 2.25em auto;
    position: relative;
    width: 17em;
}
.shield-border, .shield-background {  
    background: goldenrod;
    border-radius: 2em 2em 104% 104%;
    height: 18.75em;
    position: absolute;  
    width: 17em;
}
.shield-border:before, .shield-background:before {
    border: solid 8em transparent;
    border-left-width: 2.9em;
    border-right-width: 2.9em;
    border-top-color: goldenrod;
    border-top-width: 1em;
    bottom: -8.4em;
    content: "";
    display: block;
    height: 0;
    left: 5.65em;
    position: absolute;
    width: 0;
}
.shield-background {
    background: #000;
    -webkit-transform:scale(.94);
    -moz-transform:scale(.94);
    -ms-transform:scale(.94);
    -o-transform:scale(.94);
    transform:scale(.94);
}
.shield-background:before {
    border-top-color: #000;
}
.shield-ribbon {
    background: goldenrod;
    border-radius: 0 0 .5em .5em;
    bottom: 3.5em;
    color: #000;
    font-weight: 700;
    height: 3em;
    left: -1.2em;
    line-height: 3em;
    position: absolute;
    text-align: center;
    width: 19.4em;
}
.shield-ribbon:before, .shield-ribbon:after {
    border: solid 1.2em transparent;
    border-bottom-color: gold;
    border-bottom-width: .75em;
    content: "";
    height: 0;
    position: absolute;
    top: -1.94em;
    width: 0;
}
.shield-ribbon:before {
    border-right-width: .1em;
    left: 0;
}
.shield-ribbon:after {
    border-left-width: .1em;
    right: 0;
}
.shield-caption {
    font-size: 2em;
}
.shield-board {
    border-radius: .9em .9em 0 0;
    bottom: 8.2em;
    color: #fff;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
.shield-score {
    bottom: .7em;
    color: goldenrod;
    font-size: 2em;
    font-weight: 700;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.score-barchart {
    height: 7em;
    position: absolute;
    top: 1em;
    width: 2em;
}
.score-barchart-label {
    position: absolute;
    top: 7.75em;
    width: 3em;
}